<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestNGAtt</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7cd7a0">  <td>18/09/22 10:13:40</td>   <td>0</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:testcases.TC_002_CreateLead@6d7b4f4c]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2042495840</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>18/09/22 10:13:40</td>   <td>328</td> <td>&nbsp;</td><td title="&gt;&gt;TC_002_CreateLead.setdata()[pri:0, instance:testcases.TC_002_CreateLead@6d7b4f4c]">&gt;&gt;setdata</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2042495840</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>18/09/22 10:13:40</td>   <td>328</td> <td>&nbsp;</td><td title="&gt;&gt;TC_003_EditLead.setdata()[pri:0, instance:testcases.TC_003_EditLead@527740a2]">&gt;&gt;setdata</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2042495840</td>   <td></td> </tr>
<tr bgcolor="7cd7a0">  <td>18/09/22 10:13:40</td>   <td>328</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:testcases.TC_002_CreateLead@6d7b4f4c]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2042495840</td>   <td></td> </tr>
<tr bgcolor="7cd7a0">  <td>18/09/22 10:13:40</td>   <td>343</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:testcases.TC_002_CreateLead@6d7b4f4c]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@2042495840</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>18/09/22 10:13:56</td>   <td>16073</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_002_CreateLead.Login()[pri:0, instance:testcases.TC_002_CreateLead@6d7b4f4c]">Login</td> 
  <td>main@2042495840</td>   <td></td> </tr>
<tr bgcolor="7cd7a0">  <td>18/09/22 10:14:01</td>   <td>21205</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:testcases.TC_002_CreateLead@6d7b4f4c]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@2042495840</td>   <td></td> </tr>
<tr bgcolor="7cd7a0">  <td>18/09/22 10:14:03</td>   <td>23383</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:testcases.TC_002_CreateLead@6d7b4f4c]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@2042495840</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>18/09/22 10:14:17</td>   <td>37186</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_002_CreateLead.Login()[pri:0, instance:testcases.TC_002_CreateLead@6d7b4f4c]">Login</td> 
  <td>main@2042495840</td>   <td></td> </tr>
<tr bgcolor="7cd7a0">  <td>18/09/22 10:14:23</td>   <td>43373</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:testcases.TC_002_CreateLead@6d7b4f4c]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@2042495840</td>   <td></td> </tr>
<tr bgcolor="7cd7a0">  <td>18/09/22 10:14:26</td>   <td>45804</td> <td title="&lt;&lt;ProjectMethods.afterSuite()[pri:0, instance:testcases.TC_002_CreateLead@6d7b4f4c]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2042495840</td>   <td></td> </tr>
</table>
