<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>FunctionalParallel</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6ab1ab">  <td>18/09/15 11:02:22</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_002_CreateLead.Login()[pri:0, instance:wdMethods.TC_002_CreateLead@55d56113]">Login</td> 
  <td>TestNG-test=Test-1@1688700789</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>18/09/15 11:02:22</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_003_EditLead.Login()[pri:0, instance:wdMethods.TC_003_EditLead@10bdf5e5]">Login</td> 
  <td>TestNG-test=Test-2@892723860</td>   <td></td> </tr>
</table>
