<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6ab1ab">  <td>18/10/28 21:31:30</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FlipkartTC.TC_001()[pri:0, instance:flipkartTC.FlipkartTC@6fc6f14e]">TC_001</td> 
  <td>main@215145189</td>   <td></td> </tr>
<tr bgcolor="67aeb6">  <td>18/10/28 21:29:44</td>   <td>-105757</td> <td>&nbsp;</td><td title="&gt;&gt;FkMethods.loginFk()[pri:0, instance:flipkartTC.FlipkartTC@6fc6f14e]">&gt;&gt;loginFk</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@215145189</td>   <td></td> </tr>
</table>
