<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>common</td><td>TC_002_CreateLead_POM.createLead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:newtestcases.TC_002_CreateLead_POM@520a3426]<br/></td></tr>
</table>
