<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>POM</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="fa9a9d">  <td>18/09/30 15:50:39</td>   <td>0</td> <td title="&lt;&lt;ProjectMethods.afterSuite()[pri:0, instance:newtestcases.TC_002_CreateLead_POM@520a3426]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1924582348</td>   <td></td> </tr>
<tr bgcolor="fa9a9d">  <td>18/09/30 15:48:01</td>   <td>-158556</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:newtestcases.TC_002_CreateLead_POM@520a3426]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1924582348</td>   <td></td> </tr>
<tr bgcolor="fa9a9d">  <td>18/09/30 15:47:57</td>   <td>-162135</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:newtestcases.TC_002_CreateLead_POM@520a3426]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1924582348</td>   <td></td> </tr>
<tr bgcolor="fa9a9d">  <td>18/09/30 15:50:06</td>   <td>-33022</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:newtestcases.TC_002_CreateLead_POM@520a3426]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@1924582348</td>   <td></td> </tr>
<tr bgcolor="fa9a9d">  <td>18/09/30 15:50:37</td>   <td>-2545</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:newtestcases.TC_002_CreateLead_POM@520a3426]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@1924582348</td>   <td></td> </tr>
<tr bgcolor="657fd0">  <td>18/09/30 15:49:49</td>   <td>-50082</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_002_CreateLead_POM.createLead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:newtestcases.TC_002_CreateLead_POM@520a3426]">createLead</td> 
  <td>main@1924582348</td>   <td></td> </tr>
<tr bgcolor="657fd0">  <td>18/09/30 15:50:27</td>   <td>-12752</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_002_CreateLead_POM.createLead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:newtestcases.TC_002_CreateLead_POM@520a3426]">createLead</td> 
  <td>main@1924582348</td>   <td></td> </tr>
<tr bgcolor="fa9a9d">  <td>18/09/30 15:48:04</td>   <td>-155352</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:newtestcases.TC_002_CreateLead_POM@520a3426]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@1924582348</td>   <td></td> </tr>
<tr bgcolor="fa9a9d">  <td>18/09/30 15:50:07</td>   <td>-32359</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:newtestcases.TC_002_CreateLead_POM@520a3426]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@1924582348</td>   <td></td> </tr>
<tr bgcolor="657fd0">  <td>18/09/30 15:48:01</td>   <td>-158603</td> <td>&nbsp;</td><td title="&gt;&gt;TC_002_CreateLead_POM.setdata()[pri:0, instance:newtestcases.TC_002_CreateLead_POM@520a3426]">&gt;&gt;setdata</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1924582348</td>   <td></td> </tr>
</table>
