<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="aba872">  <td>18/09/23 10:42:45</td>   <td>0</td> <td title="&lt;&lt;ProjectMethods.afterSuite()[pri:0, instance:testng.TC_002_CreateLead@6b09bb57]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@520016214</td>   <td></td> </tr>
<tr bgcolor="aba872">  <td>18/09/23 10:40:45</td>   <td>-120525</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:testng.TC_002_CreateLead@6b09bb57]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@520016214</td>   <td></td> </tr>
<tr bgcolor="aba872">  <td>18/09/23 10:40:39</td>   <td>-125881</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:testng.TC_002_CreateLead@6b09bb57]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@520016214</td>   <td></td> </tr>
<tr bgcolor="aba872">  <td>18/09/23 10:41:39</td>   <td>-66462</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:testng.TC_002_CreateLead@6b09bb57]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@520016214</td>   <td></td> </tr>
<tr bgcolor="aba872">  <td>18/09/23 10:42:14</td>   <td>-31425</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:testng.TC_002_CreateLead@6b09bb57]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@520016214</td>   <td></td> </tr>
<tr bgcolor="aba872">  <td>18/09/23 10:42:42</td>   <td>-3178</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:testng.TC_002_CreateLead@6b09bb57]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@520016214</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>18/09/23 10:41:30</td>   <td>-75040</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_002_CreateLead.createLead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testng.TC_002_CreateLead@6b09bb57]">createLead</td> 
  <td>main@520016214</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>18/09/23 10:42:05</td>   <td>-40480</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_002_CreateLead.createLead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testng.TC_002_CreateLead@6b09bb57]">createLead</td> 
  <td>main@520016214</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>18/09/23 10:42:34</td>   <td>-11048</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_002_CreateLead.createLead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testng.TC_002_CreateLead@6b09bb57]">createLead</td> 
  <td>main@520016214</td>   <td></td> </tr>
<tr bgcolor="aba872">  <td>18/09/23 10:40:48</td>   <td>-116890</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testng.TC_002_CreateLead@6b09bb57]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@520016214</td>   <td></td> </tr>
<tr bgcolor="aba872">  <td>18/09/23 10:41:40</td>   <td>-65435</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testng.TC_002_CreateLead@6b09bb57]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@520016214</td>   <td></td> </tr>
<tr bgcolor="aba872">  <td>18/09/23 10:42:14</td>   <td>-31015</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testng.TC_002_CreateLead@6b09bb57]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@520016214</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>18/09/23 10:40:45</td>   <td>-120580</td> <td>&nbsp;</td><td title="&gt;&gt;TC_002_CreateLead.setdata()[pri:0, instance:testng.TC_002_CreateLead@6b09bb57]">&gt;&gt;setdata</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@520016214</td>   <td></td> </tr>
</table>
