<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Functional</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="687592">  <td>18/09/15 10:55:18</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_002_CreateLead.Login()[pri:0, instance:wdMethods.TC_002_CreateLead@6e1ec318]">Login</td> 
  <td>main@1663166483</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/09/15 10:56:21</td>   <td>62867</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_003_EditLead.Login()[pri:0, instance:wdMethods.TC_003_EditLead@7e0b0338]">Login</td> 
  <td>main@1663166483</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>18/09/15 10:55:08</td>   <td>-9437</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_LoginAndLogOut.login()[pri:0, instance:wdMethods.TC001_LoginAndLogOut@148080bb]">login</td> 
  <td>main@1663166483</td>   <td></td> </tr>
</table>
